div{
display: inline-block;	
text-align: center;
padding-top: 8px;
font-family: arial black
}

.rectangulo1 {
border: solid 4px #fff;
background-color: #334;
width: 24%;
height: 170px

}
.rectangulo2 {
border: solid 4px #fff;
background-color: #324;
width: 24%;
height: 170px
}
.rectangulo3 {
border: solid 4px #fff;
background-color: #124;
width: 24%;
height: 170px
}
.rectangulo4 {
border: solid 4px #fff;
background-color: #354;
width: 24%;
height: 170px
}
.rectangulo5 {
border: solid 4px #fff;
background-color: #374;
width: 24%;
height: 170px
}
.rectangulo6 {
border: solid 4px #fff;
background-color: #824;
width: 24%;
height: 170px
}
.rectangulo7 {
border: solid 4px #fff;
background-color: #924;
width: 24%;
height: 170px
}
.rectangulo8 {
border: solid 4px #fff;
background-color: #954;
width: 24%;
height: 170px
}
.rectangulo9 {
border: solid 4px #fff;
background-color: #354;
width: 24%;
height: 170px
}
.rectangulo10 {
border: solid 4px #fff;
background-color: #524;
width: 24%;
height: 170px
}
.rectangulo11 {
border: solid 4px #fff;
background-color: #125;
width: 24%;
height: 170px
}
.rectangulo12 {
border: solid 4px #fff;
background-color: #654;
width: 24%;
height: 170px
}
.rectangulo13 {
border: solid 4px #fff;
background-color: #735;
width: 24%;
height: 170px
}
.rectangulo14 {
border: solid 4px #fff;
background-color: #874;
width: 24%;
height: 170px
}
.rectangulo15 {
border: solid 4px #fff;
background-color: #928;
width: 24%;
height: 170px
}
.rectangulo16 {
border: solid 4px #fff;
background-color: #054;
width: 24%;
height: 170px
}